header {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    height: 54px;
    padding-left: 25px;
    z-index: 10;

    opacity: 0;
    background-color: var(--shade-base-3);
    box-shadow: 0px 1px 2px hsla(0, 0%, 9%, 0.5), 0px 4px 6px hsla(0, 0%, 9%, 0.35);
    //border-bottom: 1px solid hwb(0 100% 15%);
    * {
        color: hsl(035, 6%, 11%);
    }
    .head-text {
        display: inline-block;
        padding-left: 90px;

        font-weight: 500;
        font-size: 17px;
        color: var(--shade-text-4);
    }
}
    // Fades in/out for JS
    header.fadein {
        opacity: 1;
        transition: opacity 0.175s; 
    }
    header.fadeout {
        opacity: 0;
        transition: opacity 0.175s; 
    }

// Not technically part of header but on top of it
#head-hamburger-btn {   
    margin-left: 30px;
    position: fixed;
    height: 54px;
    aspect-ratio: 1/1;
    z-index: 10;
    
    span.material-symbols-outlined {
        color: var(--shade-text-1);
        font-size: 1.65rem;
        font-weight: 300;
        width: 54px;
        line-height: 54px;
    }
}